<style>
  #form-overlay {
    display: none;
    position: absolute;
    top: 0;
    z-index: 90;
    width: 100%;
    min-height: 300vh;
    background: white;
    padding: 20px;
    align-items: center;
    flex-direction: column;
  }

  #form-overlay > h2 {
    font-size: 80px;
    margin-bottom: 0;
  }

  #form-overlay > p {
    font-size: 24px;
  }

  form {
    margin-top: 40px;
    max-width: 660px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
  }

  .full-width {
    grid-column: span 2;
  }

  .centred {
    justify-self: center;
  }

  label {
    font-family: "TimesNewRomanMTStd-Cond";
    font-size: 24px;
  }

  .explainer {
    color: grey;
  }

  input[type="text"],
  input[type="number"],
  input[type="email"] {
    font-family: inherit;
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 8px 0;
    border: 0;
    border-bottom: 1px solid black;
    margin-bottom: 40px;
    outline: none;
  }

  #cross {
    position: absolute;
    top: 20px;
    right: 20px;
  }
</style>

<div id="form-overlay">
  <svg
    id="cross"
    onclick="showPledgeOverlay(false)"
    width="20"
    height="20"
    viewBox="0 0 20 20"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M19.5 1L1 19.5" stroke="black" />
    <path d="M1 1L19.5 19.5" stroke="black" />
  </svg>
  <h2>Join Us</h2>
  <p>Pledge to support your employees to strike for the climate on 21 May.</p>
  <form name="NBAU Pledges" method="POST" data-netlify="true">
    <div>
      <label for="first">First Name</label>
      <input id="first" name="First Name" type="text" required />
    </div>
    <div>
      <label for="last">Last name</label>
      <input id="last" name="Last Name" type="text" required />
    </div>
    <div class="full-width">
      <label for="company">Company Name</label>
      <input id="company" name="Company" type="text" required />
    </div>
    <div>
      <label for="position">Your Position</label>
      <input id="position" name"Position" type="text" required />
    </div>
    <div>
      <label for="size">Size of company</label>
      <input id="size" name="Number of employees" type="number" required />
    </div>
    <div>
      <label for="email">Contact Email</label>
      <input id="email" name="Email" type="email" required />
    </div>
    <div>
      <label for="phone">Contact Phone</label>
      <input id="phone" name="Phone" type="text" required />
    </div>
    <div class="full-width">
      <label for="plan">How do you plan to guarantee time to strike?</label>
      <p class="explainer">
        eg We're closing our doors / We're offering a long lunch break / No
        meetings all day
      </p>
      <input id="plan" name="How plan to support" type="text" required />
    </div>
    <div class="full-width centred">
      <input
        type="checkbox"
        id="disc1"
        name="List publically and press"
        value="disc1"
      />
      <label for="disc1"
        >We're happy to be listed publicly on the website and in any
        press.</label
      >
    </div>
    <div class="full-width centred">
      <input
        type="checkbox"
        id="disc2"
        name="Consent to share with SS4C"
        value="disc2"
        required
      />
      <label for="disc2"
        >We’re happy for use to share our details with SS4C.</label
      >
    </div>
    <button class="full-width centred" type="submit">Submit</button>
  </form>
</div>
