<head>
  <title>Not Business As Usual</title>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0 viewport-fit=cover"
    shrink-to-fit="no"
  />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="Not Business As Usual" />
  <meta property="og:title" content="Not Business As Usual" />
  <meta
    property="og:description"
    content="Support employees taking climate action on 21 May 2021"
  />
  <meta
    property="og:image"
    content="https://res.cloudinary.com/future-super/image/upload/v1618987866/nbau_og.png"
  />
  <meta property="og:type" content="website" />
  <meta property="twitter:title" content="Not Business As Usual" />
  <meta
    property="twitter:description"
    content="Support employees taking climate action on 21 May 2021"
  />
  <meta
    property="twitter:image"
    content="https://res.cloudinary.com/future-super/image/upload/v1618987866/nbau_og.png"
  />
  <meta name="twitter:card" content="summary_large_image" />
  {# Favicons #}
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="https://res.cloudinary.com/future-super/image/upload/v1618988091/nbau_favicon.png"
  />
  <link rel="stylesheet" href="{{ '/css/main.css' | url }}" />
</head>
