*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "TimesNewRomanMTStd-Cond";
  src: url("../fonts/TimesNewRomanMTStd-BoldCond.otf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "TimesNewRomanMTStd-Cond";
  src: url("../fonts/TimesNewRomanMTStd-Cond.otf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "TimesNewRomanMTStd";
  src: url("../fonts/TimesNewRomanMTStd.otf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "TimesNewRomanMTStd-Italic";
  src: url("../fonts/TimesNewRomanMTStd.otf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-family: "TimesNewRomanMTStd-Cond";
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  padding: 6px 0 0 10px;
}

h2 {
  font-size: 70px;
  margin-top: 0px;
  margin-bottom: 14px;
  line-height: 100%;
}

h2,
h3,
h4,
h5 {
  font-family: "TimesNewRomanMTStd-Cond";
  font-weight: 400;
}

body {
  font-family: "TimesNewRomanMTStd";
  color: black;
  margin: 0;
  padding: 0;
  font-size: 23px;
}

p {
  margin-bottom: 4px;
}

.container {
  max-width: 1054px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.bold {
  font-weight: 700;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  height: 46px;
  width: 100%;
  background: black;
  color: white;
  border-bottom: 1px solid white;
  justify-content: space-between;
  font-size: 16px;
  font-family: "TimesNewRomanMTStd-Cond";
  text-transform: uppercase;
}

.header-left {
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.header-right {
  display: flex;
  align-items: center;
}

#num-pledged-block {
  padding-top: 4px;
}

.hero-section {
  margin-top: 40px;
}

a {
  color: inherit;
  text-decoration: none;
}

p > a {
  text-decoration: underline;
}

.button {
  text-transform: uppercase;
  font-family: "TimesNewRomanMTStd-Cond";
  padding: 16px 60px 6px 60px;
  font-size: 38px;
  line-height: 140%;
  background: black;
  color: white;
  border: 0;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.header-button {
  height: 100%;
  background: black;
  color: white;
  border: 0;
  padding: 9px 30px 6px 30px;
  border-left: 1px solid white;
  margin-left: 30px;
  font-size: 24px;
}

.section {
  width: 100%;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-matters-section,
.media-section,
footer {
  background-color: black;
  color: white;
}

footer > .container {
  display: grid;
  grid-template-columns: 60% 1fr;
  text-align: left;
  justify-content: space-between;
  font-size: 18px;
}

h3.footer {
  text-align: left;
  font-size: 28px;
}

.participant-numbers {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  text-transform: uppercase;
  font-family: "TimesNewRomanMTStd-Cond";
  font-size: 30px;
  margin: 40px 0 40px 0;
}

p.big {
  font-weight: 700;
  font-size: 150px;
  margin: 0;
  padding-top: 12px;
}

p.text-below-big {
  margin: 0 0 30px 0;
}

img {
  margin-top: 20px;
  margin-bottom: 40px;
  width: 600px;
  max-width: 100%;
}

.logos {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-bottom: 40px;
}

.logos > img {
  width: 250px;
  height: 100px;
}

.who-we-are-pledged {
  border-right: 1px solid black;
}

svg.logo {
  justify-self: end;
}

#list-of-participants {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  text-transform: uppercase;
  column-gap: 40px;
  row-gap: 20px;
  font-size: 16px;
}

@media (max-width: 1100px) {
  .logos {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 960px) {
  p.big {
    font-size: 90px;
  }
}

@media (max-width: 740px) {
  body {
    font-size: 15px;
  }

  .logos {
    grid-template-columns: 100%;
  }

  .header-right {
    display: none;
  }

  .header-left {
    width: 100%;
    justify-content: center;
    padding-left: 0;
  }

  .section {
    padding: 50px 0;
  }

  .hero-section {
    margin-top: 20px;
  }

  .button {
    width: 100%;
    padding: 8px 8px 4px 8px;
    font-size: 20px;
  }

  h2 {
    font-size: 30px;
    font-weight: 700;
  }

  img {
    margin-top: 6px;
    margin-bottom: 14px;
  }

  .participant-numbers {
    grid-template-columns: 100%;
    text-transform: uppercase;
    font-family: "TimesNewRomanMTStd-Cond";
    font-size: 20px;
    margin: 20px 0 20px 0;
  }

  p.big {
    font-size: 80px;
  }

  p.text-below-big {
    margin: 0 0 30px 0;
  }

  .who-we-are-pledged {
    border: 0;
  }

  footer > .container {
    display: grid;
    grid-template-columns: 100%;
    text-align: left;
    justify-content: space-between;
    font-size: 14px;
  }

  svg.logo {
    display: none;
  }

  h3.footer {
    font-size: 18px;
  }

  #list-of-participants {
    grid-template-columns: 100%;
    font-size: 14px;
  }
}
