*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "TimesNewRomanMTStd-Cond";
  src: url("../fonts/TimesNewRomanMTStd-BoldCond.otf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "TimesNewRomanMTStd-Cond";
  src: url("../fonts/TimesNewRomanMTStd-Cond.otf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "TimesNewRomanMTStd";
  src: url("../fonts/TimesNewRomanMTStd.otf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "TimesNewRomanMTStd-Italic";
  src: url("../fonts/TimesNewRomanMTStd.otf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-family: "TimesNewRomanMTStd-Cond";
  font-weight: 700;
  font-size: 130px;
}

h2,
h3,
h4,
h5 {
  font-family: "TimesNewRomanMTStd-Cond";
}

body {
  font-family: "TimesNewRomanMTStd";
  color: black;
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: 700;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  height: 86px;
  width: 100%;
  background: white;
  border-bottom: 1px solid black;
  justify-content: space-between;
  font-size: 20px;
  font-family: "TimesNewRomanMTStd-Cond";
  text-transform: uppercase;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left > div {
  padding-left: 12px;
  padding-right: 12px;
}

.header-right {
  display: flex;
  align-items: center;
}

.hero-section {
  margin-top: 200px;
}

button {
  text-transform: uppercase;
  font-family: "TimesNewRomanMTStd-Cond";
  padding: 16px 60px 8px 60px;
  font-size: 38px;
  line-height: 140%;
  background: black;
  color: white;
  border: 0;
}

.header-button {
  height: 100%;
  background: white;
  border: 0;
  padding: 0 30px;
  border-left: 1px solid black;
  margin-left: 30px;
}
