<!DOCTYPE html>
<html lang="en">
  {% include "src/partials/head.html" %}
  <body>
    {% include "src/partials/header.html" %}
    <div class="section hero-section">
      <div class="container">
        <h2>
          Support employees to take climate action on&nbsp;21&nbsp;May&nbsp;2021
        </h2>
        <div style="max-width: 800px; margin-bottom: 24px">
          <p>
            While the rest of the world is using the coronavirus economic
            recovery as an opportunity to build a better future, Australia is
            doubling down on its business as
            usual&nbsp;agenda:&nbsp;fossil&nbsp;fuels.
          </p>

          <p>
            So on May 21st, we will not be doing business as usual. We’re
            supporting our employees to join student strikers and take action to
            put climate back&nbsp;on&nbsp;the&nbsp;agenda.
          </p>
          <p>
            As the businesses that make up Australia’s economy, we won’t accept
            a gas-fired recovery. It’s time for Australia to commit to a
            clean&nbsp;energy&nbsp;transition.
          </p>
        </div>

        <a class="button" href="/form" style="margin-top: 20px">Pledge Now</a>
      </div>
    </div>
    <div class="section why-matters-section">
      <div class="container">
        <h2>Why the strike matters</h2>
        <img
          src="https://res.cloudinary.com/future-super/image/upload/f_auto,w_600/v1618808883/nbau.png"
          alt="2019 Climate Strike"
        />
        <div style="max-width: 774px">
          <p>
            The student led May 21 climate strike will be held 10 days following
            the delivery of the federal budget, where it is expected that there
            will be large subsidies announced for oil
            and&nbsp;gas&nbsp;companies.
          </p>
          <p>
            Hundreds of school children are calling on adults to join them in
            sending a message to the government: now is the time to fund a
            future that works&nbsp;for&nbsp;all&nbsp;of&nbsp;us.
          </p>
          <p>
            The more of us that take action, the stronger the
            pressure&nbsp;on&nbsp;government.
          </p>
        </div>
      </div>
    </div>
    <div class="section participants-section">
      <div class="container">
        <h2>Who We Are</h2>
        <p>
          We’re a group of Australian businesses pledging to support worker
          participation in the climate&nbsp;strike&nbsp;on&nbsp;May&nbsp;21.
        </p>
        <div class="participant-numbers">
          <div class="who-we-are-pledged">
            <p>In 2019</p>
            <p class="big">3,156</p>
            <p class="text-below-big">businesses pledged</p>
          </div>
          <div>
            <p>Representing</p>
            <p class="big">65,000</p>
            <p class="text-below-big">employees</p>
          </div>
        </div>
        <img
          src="https://res.cloudinary.com/future-super/image/upload/v1618981799/2019-NBAU-Participant-Logos.png"
          alt="Logos of 2019 NBAU Pariticipants"
        />
        <a class="button" href="/form" style="margin-top: 60px">Pledge Now</a>
      </div>
    </div>
    {% include "src/partials/footer.html" %}
  </body>
</html>
