<!DOCTYPE html>
<html lang="en">
  {% include "src/partials/head.html" %}
  <body>
    {% include "src/partials/header.html" %}
    <div class="section hero-section">
      <div class="container">
        <h2>Support employees taking climate action on 21 May 2021</h2>
        <p>
          Over 3,000 Australian businesses participated in Not Business As Usual
          as part of the 2019 climate strikes.
        </p>
        <p>
          On 21 May this year, students are organising the first climate strike
          since then, in opposition to the proposed gas-fired economic recovery.
        </p>
        <p>
          Businesses are invited to close doors again, to allow employees to
          support the students and strike. This moment is an opportunity for
          businesses to put climate back on the agenda and say that it’s Not
          Business As Usual to fix the economy by accelerating the climate
          crisis.
        </p>
        <a class="button" href="/form" style="margin-top: 20px">Pledge Now</a>
      </div>
    </div>
    <div class="section why-matters-section">
      <div class="container">
        <h2>Why the strike matters</h2>
        <img
          src="https://res.cloudinary.com/future-super/image/upload/f_auto,w_600/v1618808883/nbau.png"
          alt="2019 Climate Strike"
          style="margin-bottom: 40px"
        />
        <div style="max-width: 774px">
          <p>
            This strike is held 10 days following the federal budget, where it
            is expected that there will large subsidies announced for oil and
            gas companies.
          </p>
          <p>
            We know that there’s a strong narrative about the need to stimulate
            the economy. But the truth is that using taxpayer dollars to fund a
            single industry that will accelerate the climate crisis - and whose
            effects will be worn by small business, travel, and more: that’s not
            an economy we want.
          </p>
          <p>
            We don’t think employees should have to choose between pay packet or
            planet.
          </p>
          <p>
            We are 3,000 businesses - affected by bushfires, flooding, and COVID
            - and that’s all only in the last year. We are hurting. But a
            gas-fired recovery doesn’t help the small businesses in Australia,
            the tourism sector, or the small makers, baristas and plumbers - it
            helps make fossil fuel execs richer.
          </p>
          <p>
            The bottom line: we won’t be an excuse for demanding action on
            climate.
          </p>
        </div>
      </div>
    </div>
    <div class="section participants-section">
      <div class="container">
        <h2>Participants</h2>
        <div class="participant-numbers">
          <div style="border-right: 1px solid black">
            <p>In 2019</p>
            <p class="big">3,156</p>
            <p>businesses pledged</p>
          </div>
          <div>
            <p>Representing</p>
            <p class="big">65,000</p>
            <p>employees</p>
          </div>
        </div>
        <img
          src="https://res.cloudinary.com/future-super/image/upload/v1618981799/2019-NBAU-Participant-Logos.png"
          alt="Logos of 2019 NBAU Pariticipants"
        />
      </div>
    </div>
    {% include "src/partials/footer.html" %}
  </body>
</html>
