<!DOCTYPE html>
<html lang="en">
  {% include "src/partials/head.html" %}
  <body>
    <div class="section">
      <div class="container">
        <h2 style="font-size: 9vw">Success</h2>
        <p style="font-size: 4vw">
          YOU HAVE PLEDGED TO SUPPORT THE CLIMATE STRIKE ON MAY 21.
        </p>
        <p style="font-size: 20px">
          We will send a follow up e-mail with more information on how you can
          support the climate strike to the email address you entered.
        </p>
        <p style="font-size: 20px; margin-bottom: 100px">
          Need to get in touch? You can contact us at
          strike@notbusinessasusual.co
        </p>
      </div>
    </div>
    {% include "src/partials/footer.html" %}
  </body>
</html>
